.navigation-container {
    display: grid;
    height: 10vh;
    width: 100vw;
    grid-template-rows: 10vh;
    grid-template-columns:20vw 20vw 20vw 20vw 20vw;
    grid-template-areas:
        "menu_item1 menu_item2 menu_item3 menu_item4 menu_item5";
}

.menu_item1 {
    grid-area:menu_item1;
    background-color: tomato;
}

.menu_item2 {
    grid-area:menu_item2;
    background-color: pink;
}

.menu_item3 {
    grid-area:menu_item3;
    background-color: tomato;
}

.menu_item4 {
    grid-area:menu_item4;
    background-color: tomato;
}

.menu_item5 {
    grid-area:menu_item5;
    background-color: tomato;
}

.home-container {
    display: grid;
    height: 40vh;
    width: 100vw;
    grid-template-rows: 40vh;
    grid-template-columns:50vw 50vw;
    grid-template-areas:
        "home_item1 home_item2";
}

.home_item1{
    grid-area:home_item1;
    background-color: green;
    text-align: center;
}

.home_item2{
    grid-area:home_item2;
    background-color: blue;
}

.team-container {
    display: grid;
    height: 20vh;
    width: 100vw;
    grid-template-rows: 20vh;
    grid-template-columns:33vw 33vw 33vw;
    grid-template-areas:
        "team_item1 team_item2 team_item3";
    padding-top:20px;
    grid-gap: 20px;
    
}

.team_item1{
    grid-area:team_item1;
    border-radius: 80%;
    background-color: yellow;
}

.team_item1:hover{
    background-color: #00AEEF;
     color: white;
}

.team_item2{
    grid-area:team_item2;
    border-radius: 80%;
    background-color: yellow;
}

.team_item2:hover{
    background-color: #0000FF;
     color: white;
}

.team_item3{
    grid-area:team_item3;
    border-radius: 80%;
    background-color: yellow;
}

.team_item3:hover{
    background-color: #FF00FF;
    color: white;
}

.about-container{
    display: grid;
    height: 20vh;
    width: 100vw;
    grid-template-rows: 20vh;
    grid-template-columns:25vw 25vw 25vw 25vw;
    grid-template-areas:
        "about_item1 about_item2 about_item3 about_item4";
    padding-top:20px;
    grid-gap: 15px;
}

.about_item1{
    grid-area:about_item1;
    border-radius: 20%;
    background-color: red;
}

.about_item2 {
    grid-area:about_item2;
    border-radius: 20%;
    background-color: red;
}

.about_item3{
    grid-area:about_item3;
    border-radius: 20%;
    background-color: red;
}

.about_item4{
    grid-area:about_item4;
    border-radius: 20%;
    background-color: red;
}

.about_hover:hover{
    color:white;
    background-color: #00AEEF;
}

.contact-container{
    display: grid;
    height: 10vh;
    width: 100vw;
    grid-template-rows: 10vh;
    grid-template-columns:100vw;
    background-color: purple;
}

body{
    color: #00AEEF;
    background-color: white;
}

button {
    color: #00AEEF;
    border-radius: 10px;
}

button:hover {
    background-color: #00AEEF;
    color: white;
}

.footer_text{
    text-align: center;
}